* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

h1 {
    color: white;
}

nav {
    background-color: black ;
    color: white;
    display: flex;
    padding: 1em;
    margin-bottom: 20px;
}
.leftnav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.5em;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 1.5em;
}
.container {
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items:center;
    margin: 0 auto;
    gap: 1.5em;
}



.button {
    width :100px;
    height: 30px;
    background-color:skyblue;
    color: White;
}




.usercard {
    /* width: 400px; */
    /* min-height: 30px; */
    border: 2px solid grey;
    margin-bottom: 20px;
}

    .card-header {
        min-height: 50px;
        background-color:seagreen;
        position: relative;
        }

    .card-body {
    padding: 1.5em;
}
.user {
    width: 46px;
    border-radius: 50%;
    position: absolute;
    left: 25px;
    top: 25px;
    

}

.gear {
    height: 15px;
}

.pin {
    height: 15px;
}

main {
    flex: 2;
    align-self: flex-start;
}





aside {
    flex: 1;
}

.education {
    border: 2px solid grey;
}
 
    
    
    .card-body2 {
    padding: 1.5em;
}
.dark-header {
    background-color: black;
    color: white;
    padding: 1em;
}

.circular {
border-radius: 50%;
background-color: white;
color: black;
padding: 10px;
}






.card {
    
    border: 2px solid grey;
    margin-bottom: 20px;
}

    .card-body3 {
    padding: 1.5em;
}




    
.carder4 {
    border-radius: 50%;
    background-color:white;
    width:-5px;
    height: 50px;
    border: 2px solid white;

}
    .card-body3 {
    padding: 1.5em;
}


.card-body4 img{
    vertical-align: middle;
    width: 46px;
    height:50px;
}



.card-body3 img {
    padding-top: 10px;
    vertical-align:middle;
    width: 46px;
    height:50px;
}





.cardb {
    height: 50px;
    background-color:white;
    border: 1px solid grey;
    padding: 10px;
}



